<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BibEngine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>
<body class="container">
<h1>BibEngine</h1>
<p>Aplikacja do zarzadzania bibliografią.</p>
<a th:href="@{/login}" class="btn btn-primary me-2">Logowanie</a>
<a th:href="@{/register}" class="btn btn-secondary me-2">Rejestracja</a>
<a th:href="@{/bibliography}" class="btn btn-success me-2">Moje bibliografie</a>
<a th:href="@{/account}" class="btn btn-secondary me-2">Moje konto</a>
<a th:href="@{/bibtex-clean}" class="btn btn-secondary me-2">Czyszczenie BibTeX</a>
<a th:href="@{/regulamin}" class="btn btn-link">Regulamin</a>
<a th:href="@{/docs}" class="btn btn-link">Dokumentacja</a>
</body>
</html>
